{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <h1 class="text-center">AI 기반 특허 노이즈 제거 솔루션</h1>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="api_key">API Key</label>
          <input type="text" name="api_key" id="api_key" class="form-control" value="">
        </div>
        <div class="form-group">
          <label for="file">Select XLSX File</label>
          <input type="file" name="file" id="file" accept=".xlsx" class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
        <a href="{% url 'home' %}" class="btn btn-secondary btn-block">Reset</a>
      </form>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Instructions:</h5>
          <ul class="card-text">
            <li>Enter your API Key.</li>
            <li>Select an XLSX file to upload.</li>
            <li>Click the Submit button to process the data.</li>
            <li>The result will appear below and can be downloaded as an Excel file.</li>
